.grid_Table {
   width: 100%;
   background: #fff;
   border-collapse: collapse;
   border: 1px solid gray;
}
.grid_Table > thead th {
   height: .8cm;
   color : #fff;
   background: var(--MainColor1);
   font-weight: 600;
}
.grid_Table > tbody tr {
   height: .7cm;
}
.grid_Table > tbody tr:hover {
   background:#e2e2e2;
   cursor: pointer;
}
.grid_Table > tbody td {
   padding:2px;
}
.trnButton {
   min-width:60px;
   border:0px solid #373538;
   border-radius: 3px;
   background-color: var(--MainColor1);
   color:#fff;
   font-family: verdana;
   font-size: 9pt;
   font-weight: 600;
   height:.65cm;
}
.cancelButton {
   min-width:60px;
   border:1px solid silver;
   border-radius: 5px;
   background-color: transparent;
   color:#222;
   font-family: verdana;
   font-size: 8pt;
   font-weight: 500;
   height:.65cm;  
}

.actionIcon {
   text-decoration:none;
   cursor:pointer;
   margin-right:5px;

}